---
layout: 
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="page-top">

    {% include header.html %}

    <div class="sponsor-strip">
      {% include sponsor_strip.html %}
    </div>

    <div class="section" id="about">
      <div class="container">
        {% include about.html %}
      </div>
    </div>

    <div class="section" id="conference">
      <div class="container ">
        {% capture conference %}{% include conference.md %}{% endcapture %}
        {{ conference | markdownify }}
      </div>
    </div>

    <div class="section" id="coffee">
      <div class="container">
        {% include coffee.html %}
      </div>
    </div>

    <div class="section" id="online">
      <div class="container ">
        {% include online.html %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>

<script type="text/javascript">
$(function() { 
  $("#conference table").addClass("table table-striped table-condensed");
});
</script>