<h2>Who are we?</h2>

<div class="row">
<div class="col-sm-8">
<p>My name is Karissa Lightsmith. In 2010, I started <a href="http://lighthousemontessori.com">Lighthouse Montessori</a> and I this is my next step.</p>

<p>Montessori is an oral tradition and must keep growing if it is to flourish. So let's get together and share what we do!</p>

<p>Stuff...</p>

<p>But I can't do this alone! My role is almost more coordination than anything else. It's local Montessorians and schools that have the bulk of the work. If you're passionate about this and want to help, please <a href="mailto:karissa@lighthousemontessori.com">let me know</a>!!!</p>

</div>
<div class="col-sm-4">
<img src="/img/karissa.jpg" width="100%">
</div>

